<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">Password changed</div>
            <div class="panel-body">You have successfully changed your password.</div>
        </div>
    </div>
</div>
