<section id="signin_alt" class="police signin-alt">
    <div class="section-content">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="normal-signin">
                            <div class="title">
                                <h3>Change your password</h3>
                            </div>
                            <div class="form-main">
                                <form action="/change" method="POST" autocomplete="off">
                                    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                                    <div class="form-group">
                                        <div class="pw-wrap"><i class="fa fa-lock"></i>
                                            <input type="password" name="current_password" id="current_password" class="form-control" placeholder="Current password" required autofocus>
                                        </div>
                                        <div class="pw-wrap"><i class="fa fa-lock"></i>
                                            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New password" required>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-4 col-md-offset-8">
                                                <button type="submit" class="btn btn-block signin">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>