<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Forgot password</div>
        <div class="panel-body">This link has expired. If you forgot your password click
            <a href="/forgot_password" />here
        </div>
    </div>
</div>
