<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Forgot password</div>
            <div class="panel-body">
                <form action="/forgot_password" method="POST" autocomplete="off">
                    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" placeholder="Your email" required/>
                    </div>
                    <%if (error) {%>
                        <div class="alert alert-warning">
                            <%=error%>
                        </div>
                        <%}%>
                            <input type="submit" class="btn btn-primary btn-block" value="Send email" />
                </form>
            </div>
        </div>
    </div>
</div>
