<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Delete account</div>
            <div class="panel-body">
                <p>There is no going back. Please be certain.</p>
                <form action="/delete_account" method="POST" autocomplete="off">
                    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                    <div class="form-group">
                        <label for="name">Enter your username</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Username" required/>
                    </div>
                    <div class="form-group">
                        <label for="phrase">Type in the following phrase</label>
                        <span>
                            <small>please delete my account forever</small>
                        </span>
                        <input class="form-control" type="text" id="phrase" name="phrase" placeholder="Type above phrase" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm your password</label>
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required/>
                    </div>
                    <%if (error) {%>
                        <div class="alert alert-warning">
                            <%=error%>
                        </div>
                        <%}%>
                            <input type="submit" class="btn btn-primary" value="Delete my account" />
            </div>
            </form>
        </div>
    </div>
</div>
