<p>
    This link has expired. Please enter your email below to send the activation link again.
</p>
<div class="panel panel-default">
    <div class="panel-heading">Resend verification email</div>
    <div class="panel-body">
        <form action="/resend-verification" method="POST" autocomplete="off">
            <input type="hidden" name="_csrf" value="<%=_csrf%>" />
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Your email" required/>
            </div>
            <%=i f (error){%>
                <div class="alert alert-warning">
                    <%=error%>
                </div>
                <%}%>
                    <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
    </div>
</div>
