<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel-success">
            <div class="panel-heading">Logout</div>
            <div class="panel-body">You've successfully logged out.</div>
        </div>
    </div>
</div>
