<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Forgot password</div>
            <div clas="panel-body">Email with link for password reset sent.</div>
        </div>
    </div>
</div>
