<section id="signin_alt" class="police signin-alt">
    <div class="section-content">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="normal-signin">
                            <div class="title">
                                <h3>Sign In</h3>
                            </div>
                            <div class="form-main">
                                <form action="/signin" method="POST" autocomplete="off">
                                    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                                    <div class="form-group">
                                        <div class="un-wrap"><i class="fa fa-envelope"></i>
                                            <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
                                        </div>
                                        <div class="pw-wrap"><i class="fa fa-lock"></i>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                                        </div>
                                        <div class="row top-buffer">
                                            <div class="col-md-4 col-md-offset-8">
                                                <button type="submit" class="btn btn-block signin">Sign In</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="top-buffer bottom-wrap">
                                <div class="row">
                                    <div class="col-xs-6 col-md-5 col-md-offset-1">
                                        <a href="/forgot" title="Recover your account password" id="forgot_from_2">Forgot password</a>
                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <a href="/signup" title="Create a new account" id="signup_from_2">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>