<p>Dear <%=recipientName%>,</p>
<br/>
<p><em>Your</em> have been locked.</p>
<p>You may recover your account using below link.</p>
<p><a href="http://127.0.0.1:9090/unlock/<%=token %>">Unlock</a></p>
<p>Love,<br/><%=senderName%></p>