<p>Dear <%=recipientName%>,</p>
<br/>
<p><em>Thank you</em> for creating account in sails-police.</p>
<p>You may confirm your account using the below link.</p>
<p><a href="http://127.0.0.1:9090/confirm/<%=token %>">Confirm</a></p>
<p>Love,<br/><%=senderName%></p>