<section id="signin_alt" class="authenty signin-alt">
    <div class="section-content">
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1">
                        <div class="normal-signin">
                            <div class="title">
                                <h3>Welcome</h3>
                            </div>
                            <div class="form-main">
                                <form action="/signout?_method=DELETE" method="POST" autocomplete="off">
                                    <input type="hidden" name="_csrf" value="<%=_csrf%>" />
                                    <div class="form-group">
                                        <div class="row top-buffer">
                                            <div class="col-md-4 col-md-offset-8">
                                                <button type="submit" class="btn btn-block signin">Sign out</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>