<p>Dear <%=recipientName%>,</p>
<br/>
<p><em>You</em> have request to recover your account from sails-police.</p>
<p>You may recover your password using below link.</p>
<p><a href="http://127.0.0.1:9090/recover/<%=token %>">Confirm</a></p>
<p>Love,<br/><%=senderName%></p>